.vw-m__x {
    margin: 0 0.25rem;
}
.vw-m__2x {
    margin: 0 0.5rem;
}
.vw-m__3x {
    margin: 0 0.75rem;
}
.vw-m__4x {
    margin: 0 1rem;
}
.vw-m__5x {
    margin: 0 1.25rem;
}
.vw-m__6x {
    margin: 0 1.5rem;
}
.vw-m__y {
    margin: 0.25rem 0;
}
.vw-m__2y {
    margin: 0.5rem 0;
}
.vw-m__3y {
    margin: 0.75rem 0;
}
.vw-m__4y {
    margin: 1rem 0;
}
.vw-m__5y {
    margin: 1.25rem 0;
}
.vw-m__6y {
    margin: 1.5rem 0;
}

.vw-p__x {
    padding: 0 0.25rem;
}
.vw-p__2x {
    padding: 0 0.5rem;
}
.vw-p__3x {
    padding: 0 0.75rem;
}
.vw-p__4x {
    padding: 0 1rem;
}
.vw-p__5x {
    padding: 0 1.25rem;
}
.vw-p__6x {
    padding: 0 1.5rem;
}
.vw-p__y {
    padding: 0.25rem 0;
}
.vw-p__2y {
    padding: 0.5rem 0;
}
.vw-p__3y {
    padding: 0.75rem 0;
}
.vw-p__4y {
    padding: 1rem 0;
}
.vw-p__5y {
    padding: 1.25rem 0;
}
.vw-p__6y {
    padding: 1.5rem 0;
}
